pandas
ydata-profiling==4.10.0
seaborn
streamlit
streamlit-camera-input-live
streamlit-card
streamlit-embedcode
streamlit-extras
streamlit-faker
streamlit-image-coordinates
streamlit-javascript
streamlit-keyup
streamlit-modal
streamlit-option-menu
streamlit-pandas-profiling
streamlit-server-state
streamlit-toggle-switch
streamlit-vertical-slider
visions[type_image_path]==0.7.6
